$tablaRyM:(
    alto: 300px,
    colorletra: rgb(241, 250, 250),
    backcol: rgba(0, 0, 0, 0.242),
    fonts: 25px,
    fontf: 'Montserrat', sans-serif
    pdd: 15px,
    talign: center,
    border: solid green 5px,

);